body {
    font-family: "Lato", sans-serif;	
	color: #75bce5;
}



.main-head{
    height: 150px;   
}

.sidenav {
    height: 100%;
    background-color: #1e1e1e;
    overflow-x: hidden;
    padding-top: 0px;
	color: #75bce5;
}

input[value] {
	background-color: #383838;
	color: #75bce5;
}

.np-square-md {
    width: 17vh !important;
}

input:focus {
  background-color: #383838;
  color: #75bce5; 
}

.main {
    padding: 0px 10px;	
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 10px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 30%;		
    }

    .sidenav{
        width: 30%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 30%;		
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 30px 60px;
    color: #75bce5;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000 !important;
    color: #75bce5;
}